/* ============================== VARIABLES ==============================*/

:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

/* ============================== NORMALIZE ==============================*/

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================== ELEMENTS ==============================*/

body {
  border: 0;
  margin: 0;
  padding: 0;
  color: #0246b3;
}

button {
  padding: 1rem 1.75rem;
  color: white; 
  background-color: #0246b3;
  border: 1px solid white;
  border-radius: 5px;
  transition: 500ms;
  box-shadow: var(--shadow-elevation-high);
}

button:hover,
button:focus, 
button:active {
  padding: 1rem 1.75rem;
  color: #0246b3; 
  background-color: white;
  border: 1px solid #0246b3;
  border-radius: 5px;
  box-shadow: var(--shadow-elevation-medium);
}

html {
  font-size: 16px;
}

h1, h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

header {
  background-color: #0246b3;
  color: white;
  padding: 2rem;
  width: 100%;
}

img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

input {
  margin: 0 1rem;
  width: 100%;
  padding: 5px;
  background-color: #F5f5f5;
  border-radius: 4px;
  border: 1px solid #0246b3;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #0246b3;
  transition: ease-in-out 200ms;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  transition: ease-in-out 200ms;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #0246b3;
  transition: ease-in-out 200ms;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #0246b3;
  transition: ease-in-out 200ms;
}

label {
  width: 100%;
}

p, input, label, h1, h2, select {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Zen Kurenaido', sans-serif;
}

select {
  border: none;
  background-color: #F5F5F5;
  height: 2rem;
  margin: 2px;
  width: 20%;
}

select#dropdown {
  display: block;
  margin-bottom: 1rem;
  width: 20%;
}

textarea {
  margin-bottom: 1.5rem;
}

/* ============================== CLASSES ==============================*/

#add_comments {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: gray;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-label {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.cc-input-container {
  margin: 0 0 1.5rem 0;
}

.check-boxes {
  width: 30%;
}

.checkbox-containers {
  width: 100%;
  margin-bottom: 1rem;
}

.checkbox-section {
  margin-bottom: 1.5rem;
}

#description {
  display: block;
  font-style: italic;
  margin: 2rem 0 0 0;
}

#DISCOVER, #MASTERCARD, #VISA {
  margin-bottom: 1rem;
  width: 1rem;
}

.fillable-form-container {
  position: relative;
  width: 100%;
}

#inside, #outside, #anon {
  width: 1rem;
}

.left-column {
  min-width: 60%;
  transition: 500ms;
}

.personal-section {
  margin-bottom: 1.5rem;
}

.left-line {
  padding-left: 2rem;
  border-left: 1px solid white;
}

.right-column {
  width: 40%;
  padding: 2rem;
  transition: 500ms;
}

.styles-section {
  margin-bottom: 1.5rem;
}

.text-area-section {
  margin-bottom: 1.5rem;
}

/* ============================== MEDIA QUERIES ==============================*/

@media (max-width: 1050px) {
  .left-column {
    min-width: 100%;
  }

  .right-column {
    width: 100%;
    padding: 2rem;
  } 
}