/* ============================== NORMALIZE ==============================*/

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================== ELEMENTS ==============================*/

body {
  border: 0;
  margin: 0;
  padding: 0;
  color: #0246b3;
}

html {
  font-size: 16px;
}

h1, h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

header {
  background-color: #0246b3;
  color: white;
  padding: 2rem;
  width: 100%;
}

img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

input {
  margin: 0 1rem;
  width: 100%;
  padding: 5px;
  background-color: #F5f5f5;
  border-radius: 4px;
  border: 1px solid #0246b3;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #0246b3;
  transition: ease-in-out 200ms;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  transition: ease-in-out 200ms;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #0246b3;
  transition: ease-in-out 200ms;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #0246b3;
  transition: ease-in-out 200ms;
}

label {
  width: 100%;
}

p, input, label, h1, h2, select {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Zen Kurenaido', sans-serif;
}

select {
  border: none;
  background-color: #F5F5F5;
  height: 2rem;
  margin: 2px;
  width: 20%;
}

select#dropdown {
  display: block;
  margin-bottom: 1rem;
  width: 20%;
}

/* ============================== CLASSES ==============================*/

#add_comments {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: gray;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-label {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.cc-input-container {
  margin: 0 0 1rem 0;
}

.check-boxes {
  width: 30%;
}

.checkbox-containers {
  width: 100%;
  margin-bottom: 1rem;
}

#description {
  display: block;
  font-style: italic;
  margin: 2rem 0 0 0;
}

#DISCOVER, #MASTERCARD, #VISA {
  margin-bottom: 1rem;
  width: 1rem;
}

.fillable-form-container {
  position: relative;
  width: 100%;
}

#inside, #outside, #anon {
  width: 1rem;
}

.left-column {
  min-width: 60%;
  transition: 500ms;
}

.left-line {
  padding-left: 2rem;
  border-left: 1px solid white;
}

.right-column {
  width: 40%;
  padding: 2rem;
  transition: 500ms;
}

/* ============================== MEDIA QUERIES ==============================*/

@media (max-width: 1050px) {
  .left-column {
    min-width: 100%;
  }

  .right-column {
    width: 100%;
    padding: 2rem;
  } 
}