body {
  margin: 0;
  border: 0;
  padding: 0;
}

p, input, label, h1, select {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Zen Kurenaido', sans-serif;
}

.container {
  background-color: white;
  display: grid;
  grid-template-columns: repeat (10, 1fr);
  grid-template-rows: repeat (1, 1fr);
  gap: 0px;
  height: 100vh;
  max-width: 100vw;
}

.left-column {
  margin-right: auto;
  height: 100vh;
  grid-column: 1 / 6;
}

img {
  width: 100%;
  height: auto;
}

.right-column {
  height: 100vh;
  grid-column: 8 / 10;
}

.fillable-form-container {
  position: relative;
  width: 80%;
  padding: 5em 5% 0em 5%;
}

input {
  margin: 1em 30% 2em 1em;
  width: 70%
}

select {
  width: 10em;
  margin: 2px;
  border: none;
  background-color: #F5F5F5;
  height: 2em;
   width: 20%;
}

select#dropdown {
  display: block;
  margin: 1em 25% 2em 1em;
  width: 20%;

}

#description {
  display: block;
  margin: 5em 0 0 0 ;
  font-style: italic;
}

#DISCOVER, #MASTERCARD, #VISA {
  width: 1em;
  margin: 0em 68% 2em 1em;
}

.ccards {
  margin: 2em 0 0 1em;
}

.check-boxes {
  width: 30%;
  margin: 1em 35% 1em 0em;
}

#inside, #outside, #anon {
  width: 1em;
  margin: 1em;
}
